/*Sawyer Evans edited 13 June 2022*/
.templatebox {
    border-width: 2px;
    border-style: solid;
    padding: 1px;
    position: absolute;
    border-color: black;
    background-color: #99b6ec8e;
}
.tableaubackground {
    background-image: url(../assets/images/fish.jpg);
}
.header {
    left: 5px;
    right: 5px;
    top: 5px;
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
    text-align: center;
}
.centercontent {
    left: 5px;
    right:5px;
    top: 56px;
    bottom: 51px;
    text-align: center;
}
.footer {
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10pt;
    text-align: center;
}
.labels {
    font-size: 12pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center {text-align: center;}
a {color: #333333;}
a:hover {color: #459087;}
.tableau {
    position: relative;
    height: 48%;
    width: 48%;
}
.box1 {
    float: left;
    top: 2px;
    left: 2px;
}
.box2 {
    float: right;
    top: 2px;
    right: 2px;
}
.box3 {
    float: left;
    bottom: 2px;
    left: 2px;
}
.box4 {
    float: right;
    right: 2px;
    bottom: 2px;
}
/*
.container,
.container-fluid,
.container-xxxl,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  height: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 270px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 360px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 480px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 570px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 660px;
  }
}
@media (min-width: 1600px) {
    .container-xxxl, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 800px;
    }
    }
@media (min-height: 576px) {
    .container-sm, .container {
      max-height: 270px;
    }
  }
  @media (min-height: 768px) {
    .container-md, .container-sm, .container {
      max-height: 3400px;
    }
  }
  @media (min-height: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-height: 480px;
    }
  }
  @media (min-height: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-height: 550px;
    }
  }
  @media (min-height: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-height: 650px;
    }
  }
  @media (min-height: 1600px) {
    .container-xxxl, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-height: 750px;
    }
  }
  */