.home-image2 {
position: relative;
bottom: 130px;
align-self: center;
object-fit: cover;
width: 100%;
height: auto;
}
.center {text-align: center;}
.justify {text-align: justify;}
.bold {font-weight: bold;}
.underline {text-decoration: underline;}
.linkfont {font-size: medium;}
.normalweight {font-weight: normal;}